@import 'colors';
@import 'fonts';

body {
  font-family: "Helvetica Neue", sans-serif;
  font-size: 21px;
  line-height: 1.7em;
  margin: 0;
}

.wrapper {
  & > div > div > div, .inner {
    max-width: 800px;
    margin-left: auto;
    margin-right: auto;
  }
}

.description {
  color: #555;
  h1 {
    font-weight: 500;
    color: #aaa;
    letter-spacing: 0.2em;
  }
}

.lorem {
  padding: 8% 2%;
}

h1 {
  font-size: 3em;
}

h1, h2, h3, h4, h5 {
  line-height: 1.7em;
  margin: 0.4em 0;
}

a {
  text-decoration: none;
  color: @secondary-a-4;
}

.sm {
  font-size: 0.7em;
  line-height: 1.95em;
}

.lg {
  font-size: 1.35em;
  line-height: 1.5em;
}
