
// http://colorschemedesigner.com/#2J62glZqqBRuR
/* Palette color codes */

@primary-1: #55B338;
@primary-2: #4F7C41;
@primary-3: #22670D;
@primary-4: #82D767;
@primary-5: #98D784;
@secondary-a-1: #325E89;
@secondary-a-2: #354A5F;
@secondary-a-3: #0B2D4F;
@secondary-a-4: #6494C2;
@secondary-a-5: #7C9FC2;
@secondary-b-1: #D2D242;
@secondary-b-2: #93934D;
@secondary-b-3: #79790F;
@secondary-b-4: #E8E86F;
@secondary-b-5: #E8E88E;
@complement-1: #C83F52;
@complement-2: #8C4952;
@complement-3: #730E1C;
@complement-4: #E36D7D;
@complement-5: #E38B97;

/* end */
