// http://colorschemedesigner.com/#2T41Vw0w0w0w0

@primary-1:  #00C12B;
@primary-2:  #24913C;
@primary-3:  #007D1C;
@primary-4:  #38E05D;
@primary-5:  #65E080;
@secondary-a-1:  #057D9F;
@secondary-a-2:  #216477;
@secondary-a-3:  #025167;
@secondary-a-4:  #39AECF;
@secondary-a-5:  #61B7CF;
@secondary-b-1:  #FF8100;
@secondary-b-2:  #BF7830;
@secondary-b-3:  #A65400;
@secondary-b-4:  #FFA040;
@secondary-b-5:  #FFBA73;
@complement-1:  #FF1800;
@complement-2:  #BF3D30;
@complement-3:  #A61000;
@complement-4:  #FF5240;
@complement-5:  #FF8073;
